In [1]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

train_df = pd.read_csv('./datasets/titanic/train.csv')
test_df = pd.read_csv('./datasets/titanic/test.csv')
test_y_df = pd.read_csv('./datasets/titanic/gender_submission.csv')

In [2]:
train = train_df[['Pclass', 'Sex', 'Age', 'Survived']]
test = test_df[['Pclass', 'Sex', 'Age']]
test_y = test_y_df['Survived']

In [3]:
train.isnull().sum()

Pclass        0
Sex           0
Age         177
Survived      0
dtype: int64

In [4]:
train = train.dropna(axis=0)
train

     Pclass     Sex   Age  Survived
0         3    male  22.0         0
1         1  female  38.0         1
2         3  female  26.0         1
3         1  female  35.0         1
4         3    male  35.0         0
..      ...     ...   ...       ...
885       3  female  39.0         0
886       2    male  27.0         0
887       1  female  19.0         1
889       1    male  26.0         1
890       3    male  32.0         0

[714 rows x 4 columns]

In [ ]:
train.isnull().sum()

In [ ]:
train.info()

In [ ]:
train.describe()

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
data = encoder.fit_transform(train['Sex'])
data

In [ ]:
train['Sex'] = data

In [ ]:
train.info()

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data = scaler.fit_transform(train[['Age']])

train['Age'] = data
train

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [ ]:
dt = DecisionTreeClassifier(random_state=42)
rf = RandomForestClassifier(random_state=42)
lr = LogisticRegression()

X = train.drop('Survived', axis=1)
y = train['Survived']

result_dict = {
	'dt' : [],
	'rf' : [],
	'lr' : []
}

# result = {}
# for i, j in enumerate([dt, rfc, lr]) :
#   result[i] = cross_val_score(j, X_train, y_train)

for index, algorithm in enumerate([dt, rf, lr]):
	result = cross_val_score(algorithm, X, y)
	if index == 0:
		result_dict['dt'] = result
	elif index == 1:
		result_dict['rf'] = result
	else:
		result_dict['lr'] = result

print(result_dict)

In [ ]:
import numpy as np
print(np.mean(result_dict['dt']))
print(np.mean(result_dict['rf']))
print(np.mean(result_dict['lr']))

In [ ]:
test

In [ ]:
test['Survived'] = test_y_df['Survived']
test

In [ ]:
test.dropna(axis=0, inplace=True)

In [ ]:
test.isna().sum()

In [ ]:
encoder = LabelEncoder()
data = encoder.fit_transform(test['Sex'])

test['Sex'] = data
test

In [ ]:
scaler = MinMaxScaler()
data = scaler.fit_transform(test[['Age']])

test['Age'] = data
test

In [50]:
X_test = test.drop('Survived', axis=1)
rf.fit(X, y)
pred = rf.predict(X_test)

In [51]:
from sklearn.metrics import accuracy_score

accuracy_score(test['Survived'], pred)

0.8403614457831325

In [52]:
dt.fit(X, y)
pred_dt = dt.predict(X_test)

In [53]:
accuracy_score(test['Survived'], pred_dt)

0.8192771084337349

In [54]:
lr.fit(X, y)
pred_lr = lr.predict(X_test)

In [56]:
accuracy_score(test['Survived'], pred_lr)

0.927710843373494